name: tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [7.4, 8.0, 8.1, 8.2, 8.3]
        laravel: ['6.*', '7.*', '8.*', '9.*', '10.*', '11.*', '12.*']
        exclude:
          - php: 7.4
            laravel: 11.*
          - php: 8.0
            laravel: 11.*
          - php: 8.1
            laravel: 11.*
          - php: 7.4
            laravel: 10.*
          - php: 8.0
            laravel: 10.*
          - php: 7.4
            laravel: 9.*
          - php: 8.3
            laravel: 9.*
          - php: 8.2
            laravel: 8.*
          - php: 8.3
            laravel: 8.*
          - php: 8.1
            laravel: 7.*
          - php: 8.2
            laravel: 7.*
          - php: 8.3
            laravel: 7.*
          - php: 8.1
            laravel: 6.*
          - php: 8.2
            laravel: 6.*
          - php: 8.3
            laravel: 6.*
          - laravel: 12.*
            php: 7.4
          - laravel: 12.*
            php: 8.0
          - laravel: 12.*
            php: 8.1

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, json
          coverage: pcov

      - name: Install dependencies
        run: |
          composer require "illuminate/contracts=${{ matrix.laravel }}" --no-update
          composer update --prefer-dist --no-interaction --no-progress

      - name: Grab PHPUnit version
        id: phpunit_version
        run: echo "VERSION=$(vendor/bin/phpunit --version | grep --only-matching --max-count=1 --extended-regexp '\b[0-9]+\.[0-9]+')" >> $GITHUB_OUTPUT

      - name: Execute tests (PHPUnit 10)
        if: "${{ startsWith(steps.phpunit_version.outputs.VERSION, '10.') }}"
        run: vendor/bin/phpunit --configuration=phpunit10.xml.dist

      - name: Execute tests (PHPUnit < 10)
        if: "${{ !startsWith(steps.phpunit_version.outputs.VERSION, '10.') }}"
        run: vendor/bin/phpunit --configuration=phpunit.xml.dist
